# Python Learning

In [3]:
print("Hello World")

Hello World

In [6]:
print()
print()

`Exercise 1`

In [10]:
print("First Program - Python prnt function")
print("It is declared lie this :")
print("Print('What to print')")

First Program - Python prnt function
It is declared lie this :
Print('What to print')

`String Manipulation`

In [11]:
print("Hello" + "Jenny")

HelloJenny

In [17]:
print("Hello" +" "+"Jemmy")

Hello Jemmy

In [20]:
print("""String Manipulation Exercise
String Concatenation is done with "+" Sign
eg print("Hello" + "Jenny")
New lines can be created with a bacslash and n
""")

String Manipulation Exercise
String Concatenation is done with "+" Sign
eg print("Hello" + "Jenny")
New lines can be created with a bacslash and n

`Input() Function`

In [22]:
name=input("Enter your name")
print(name)

neelaandan

In [24]:
name=input("what is your name? ")
print("Hey",name,", how are you")

Hey jenny , how are you

`Variable`

In [25]:
name=input("what is your name? ")
print(name)

neela

In [1]:
a=int(input("Enter value of a :"))
b=int(input("Enter value of b :"))
a,b=b,a
print(a)
print(b)

21
12

In [2]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [4]:
print(type(a))

<class 'int'>

In [7]:
print(0b10)

2

In [9]:
name=len('neel')
print(type(name))
str(name)

<class 'int'>

'4'

In [11]:
f=str('name')
float(f)

ValueError: could not convert string to float: 'name'

In [15]:
#Program
a=input("Enter the number : ")
print(int(a[0])+int(a[1]))

3

`Operators`

In [1]:
A=5
print(A==5)

True

In [2]:
a,b=5,6
a+=2
print(a)

7

In [4]:
5!=9

True

In [6]:
a=True
print(not a)

False

In [1]:
a=5
b=4
print(a>1 & b<1)

True

In [2]:
a|b

5

In [14]:
# b=4
a is b

True

In [13]:
b=5
id(a),id(b)

(140712197546920, 140712197546920)

In [24]:
weight=66
height=1.6
bmi=weight/(height*height)
print(round(bmi,2))

25.78

In [27]:
round(675,-1)

680

In [29]:
print(f'Hi {weight}')

Hi 66

In [30]:
age=int(input("Enter your age: "))
year=90-age
month=12*year
days=year*365
week=year*52
print(f"you are going to live {year} years and {month} months and {week} weeks and {days} days left")

you are going to live 67 years and 804 months and 3484 wees and 24455 days left

`Conditional statements`

In [32]:
height=3
if (height>2.50):
    print('buy tikcet')
else:
    print("ticet no need")

buy tikcet

In [34]:
num=int(input())
if num%2==0:
    print("even")
else:
    print("Odd")

Odd

In [35]:
weight=int(input())
height=float(input())
bmi=weight/height**2

In [40]:
year=int(input("Year : "))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print("Leap year") 
        else:
            print("Not a leap year")
    else:
        print("leap year")
else:
    print("Not a leap year")

Leap year

In [2]:
name1=input().lower()
name2=input().lower()
name=name1+name2
t=name.count('t')
r=name.count('r')
u=name.count('u')
e=name.count('e')
true=t+r+u+e

l=name.count('l')
o=name.count('o')
v=name.count('v')
e=name.count('e')
love=l+o+v+e

score=int(str(true)+str(love))

print(score)

43

`List`

In [9]:
l=[1,['neel','Ram'],{'name':'neel','age':23}]
print(l[0])
l[1]
l[2].get('name')

1

'neel'

In [10]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [11]:
l.append(8)

In [12]:
l

[1, ['neel', 'Ram'], {'name': 'neel', 'age': 23}, 8]

In [13]:
l[::-1]

[8, {'name': 'neel', 'age': 23}, ['neel', 'Ram'], 1]

In [20]:
l[0:3]

[1, ['neel', 'Ram'], {'name': 'neel', 'age': 23}]

In [23]:
l.insert(2,45)

In [24]:
l

[1, ['neel', 'Ram'], 45, {'name': 'neel', 'age': 23}, 8]

In [25]:
l.extend(['ram',7,0,6])

In [26]:
l

[1, ['neel', 'Ram'], 45, {'name': 'neel', 'age': 23}, 8, 'ram', 7, 0, 6]

`Random`

In [28]:
import random as r
r.randint(1,10)

2

In [31]:
r.randrange(1,20)

15

In [33]:
dir(r)

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_ONE',
 '_Sequence',
 '_Set',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_accumulate',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_floor',
 '_index',
 '_inst',
 '_isfinite',
 '_log',
 '_os',
 '_pi',
 '_random',
 '_repeat',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randbytes',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

In [39]:
m=[[1,2,3],[4,5,6],[7,8,9]]
print(m)
print(n)
print(l)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [41]:
m=[[1,2,3],[4,5,6],[7,8,9]]
n=input()
pos_row=int(n[0])
pos_colum=int(n[1])
m[pos_row-1][pos_colum-1]='X'
m

[[1, 2, 3], [4, 5, 6], [7, 'X', 9]]

`Tuples`

In [42]:
t=(1,6,['i',0])
t

(1, 6, ['i', 0])

In [43]:
t[1]

6

In [44]:
t[1]=0

TypeError: 'tuple' object does not support item assignment

In [48]:
t.count(1)

1

In [46]:
dir(t)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

`Set`

In [51]:
s={5.5,3,'Neel',8,7,5}
s

{3, 5, 5.5, 7, 8, 'Neel'}

`Loops`

In [52]:
l=['neel','ram','arun']
for i in l:
    print(i)

neel
ram
arun

In [54]:
for i in range(4):
    print(i)

0
1
2
3

In [56]:
s=[2,3,4,5,6]
m=[]
for i in s:
    sq=i**2
    m.append(sq)
print(m)

[4, 9, 16, 25, 36]