In [79]:
import pandas as pd
import numpy as np

In [80]:
data_path='./data/smartwatches.csv'
df=pd.read_csv(data_path)

In [81]:
df.head()

,Unnamed: 0,Brand,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Model Name,Dial Shape,Strap Color,Strap Material,Touchscreen,Battery Life (Days),Bluetooth,Display Size,Weight
0,0,noise,82990.0,89900.0,7.686318,4.0,65.0,Wrb-sw-colorfitpro4alpha-std-rgld_pnk,NaN,NaN,NaN,NaN,8.0,Yes,NaN,35 - 50 g
1,1,fire-boltt,3799.0,16999.0,77.651627,4.3,20788.0,BSW046,NaN,NaN,Silicon,Yes,3.5,Yes,1.8 inches,50 - 75 g
2,2,boat,1999.0,7990.0,74.981227,3.8,21724.0,Wave Call,NaN,NaN,Silicon,Yes,8.0,Yes,1.7 inches,35 - 50 g
3,3,fire-boltt,1799.0,19999.0,91.004550,4.3,13244.0,BSW053,NaN,NaN,Silicon,Yes,3.5,Yes,1.8 inches,75g +
4,4,noise,1599.0,4999.0,68.013603,4.1,13901.0,Wrb-sw-colorfitpulsegobuzz-std-blk_blk,NaN,NaN,Other,Yes,8.0,Yes,1.7 inches,35 - 50 g

In [82]:
df.shape

(450, 16)

In [83]:
df.columns

Index(['Unnamed: 0', 'Brand', 'Current Price', 'Original Price',
       'Discount Percentage', 'Rating', 'Number OF Ratings', 'Model Name',
       'Dial Shape', 'Strap Color', 'Strap Material', 'Touchscreen',
       'Battery Life (Days)', 'Bluetooth', 'Display Size', 'Weight'],
      dtype='object')

In [84]:
df.dtypes

Unnamed: 0               int64
Brand                   object
Current Price          float64
Original Price         float64
Discount Percentage    float64
Rating                 float64
Number OF Ratings      float64
Model Name              object
Dial Shape              object
Strap Color             object
Strap Material          object
Touchscreen             object
Battery Life (Days)    float64
Bluetooth               object
Display Size            object
Weight                  object
dtype: object

In [85]:
df=df.reset_index()

In [86]:

df.drop_duplicates(inplace=True)

In [87]:

df.isna().sum()

index                    0
Unnamed: 0               0
Brand                    0
Current Price           10
Original Price          73
Discount Percentage     73
Rating                   6
Number OF Ratings       59
Model Name              35
Dial Shape             123
Strap Color            123
Strap Material          69
Touchscreen             37
Battery Life (Days)     32
Bluetooth                6
Display Size            30
Weight                 186
dtype: int64

In [88]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [89]:
df.head()

,index,Brand,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Model Name,Dial Shape,Strap Color,Strap Material,Touchscreen,Battery Life (Days),Bluetooth,Display Size,Weight
0,0,noise,82990.0,89900.0,7.686318,4.0,65.0,Wrb-sw-colorfitpro4alpha-std-rgld_pnk,NaN,NaN,NaN,NaN,8.0,Yes,NaN,35 - 50 g
1,1,fire-boltt,3799.0,16999.0,77.651627,4.3,20788.0,BSW046,NaN,NaN,Silicon,Yes,3.5,Yes,1.8 inches,50 - 75 g
2,2,boat,1999.0,7990.0,74.981227,3.8,21724.0,Wave Call,NaN,NaN,Silicon,Yes,8.0,Yes,1.7 inches,35 - 50 g
3,3,fire-boltt,1799.0,19999.0,91.004550,4.3,13244.0,BSW053,NaN,NaN,Silicon,Yes,3.5,Yes,1.8 inches,75g +
4,4,noise,1599.0,4999.0,68.013603,4.1,13901.0,Wrb-sw-colorfitpulsegobuzz-std-blk_blk,NaN,NaN,Other,Yes,8.0,Yes,1.7 inches,35 - 50 g

In [90]:
numerical_data=[feature for feature in df.columns if df[feature].dtype != 'objects']
continuous_data = [feature for feature in df.columns if df[feature].dtype == 'object']

In [91]:
numerical_data

['index',
 'Brand',
 'Current Price',
 'Original Price',
 'Discount Percentage',
 'Rating',
 'Number OF Ratings',
 'Model Name',
 'Dial Shape',
 'Strap Color',
 'Strap Material',
 'Touchscreen',
 'Battery Life (Days)',
 'Bluetooth',
 'Display Size',
 'Weight']

In [92]:
df[numerical_data].describe()

,index,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Battery Life (Days)
count,450.000000,440.000000,377.000000,377.000000,444.000000,391.000000,418.000000
mean,224.500000,12747.554545,14598.204244,48.236894,4.031306,11594.726343,14.077392
std,130.048068,17760.666099,15450.028869,24.109830,0.550548,40423.889227,7.718503
min,0.000000,1199.000000,1669.000000,-79.688436,1.000000,1.000000,0.750000
25%,112.250000,2180.750000,5999.000000,33.337037,3.900000,68.500000,8.000000
50%,224.500000,3999.000000,7999.000000,54.550414,4.100000,996.000000,17.500000
75%,336.750000,17121.750000,17999.000000,66.677780,4.300000,6022.000000,22.000000
max,449.000000,139990.000000,96390.000000,91.004550,5.000000,619130.000000,22.000000

In [93]:
df.columns

Index(['index', 'Brand', 'Current Price', 'Original Price',
       'Discount Percentage', 'Rating', 'Number OF Ratings', 'Model Name',
       'Dial Shape', 'Strap Color', 'Strap Material', 'Touchscreen',
       'Battery Life (Days)', 'Bluetooth', 'Display Size', 'Weight'],
      dtype='object')

# Pandas Profiling

In [94]:
# pip install ipywidgets

In [95]:
# pip install ydata-profiling
#

In [96]:
# import ydata_profiling as pp
# pp.ProfileReport(df)

# Columnwise cleaning

# column 1 Brand

In [97]:
#Column 1 Brand
df['Brand'].dtypes

dtype('O')

In [98]:
df['Brand'].unique()

array(['noise', 'fire-boltt', 'boat', 'honor', 'crossbeats', 'samsung',
       'garmin', 'huawei', 'dizo', 'gizmore', 'ambrane', 'zebronics',
       'pebble', 'hammer', 'apple', 'fitbit', 'amazfit', 'fossil'],
      dtype=object)

In [99]:
df['Brand'].isna().sum()

0

In [100]:
df['Brand'].describe()

count            450
unique            18
top       fire-boltt
freq              60
Name: Brand, dtype: object

# Column 2 current price

In [101]:
df['Current Price'].dtypes

dtype('float64')

In [104]:
df['Current Price'].isna().sum()

0

In [103]:
df.dropna(subset=['Current Price'], inplace=True)

In [111]:
df['Current Price'].describe()

count      440.000000
mean     11119.917614
std      12439.773533
min       1199.000000
25%       2180.750000
50%       3999.000000
75%      17121.750000
max      39533.250000
Name: Current Price, dtype: float64

In [112]:
# Checing the Outlier for hours column
q3=df['Current Price'].quantile(0.75)
q1=df['Current Price'].quantile(0.25)
iqr=q3-q1
upper_threshold=q3+(1.5*iqr)
lower_threshold=q1-(1.5*iqr)
upper_threshold,lower_threshold

(39533.25, -20230.75)

upper_threshold most be greater than the maxiumum
lower_threshold most lower than minmum

In [107]:
df['Current Price']=df['Current Price'].clip(lower_threshold,upper_threshold)

# Column 3 Oridinary Price

In [113]:
df.columns

Index(['index', 'Brand', 'Current Price', 'Original Price',
       'Discount Percentage', 'Rating', 'Number OF Ratings', 'Model Name',
       'Dial Shape', 'Strap Color', 'Strap Material', 'Touchscreen',
       'Battery Life (Days)', 'Bluetooth', 'Display Size', 'Weight'],
      dtype='object')

In [114]:
df['Original Price'].dtypes

dtype('float64')

In [118]:
df['Original Price'].isna().sum()

0

In [117]:
# Fill missing values in 'Original Price' column with the mean of the column
df['Original Price'].fillna(df['Original Price'].mean(), inplace=True)

In [123]:
df['Original Price'].describe()

count      440.000000
mean     12479.646005
std       7985.215826
min       1669.000000
25%       5999.000000
50%       9999.000000
75%      14991.250000
max      28479.625000
Name: Original Price, dtype: float64

In [121]:
# Checing the Outlier for hours column
q3=df['Original Price'].quantile(0.75)
q1=df['Original Price'].quantile(0.25)
iqr=q3-q1
upper_threshold=q3+(1.5*iqr)
lower_threshold=q1-(1.5*iqr)
upper_threshold,lower_threshold

(28479.625, -7489.375)

In [122]:
df['Original Price']=df['Original Price'].clip(lower_threshold,upper_threshold)

# Column 4 Discount Percentage

In [124]:
df['Discount Percentage'].dtypes

dtype('float64')

In [128]:
df['Discount Percentage'].isna().sum()

0

In [127]:
df['Discount Percentage'].fillna(df['Discount Percentage'].mean(),inplace=True)

In [133]:
df['Discount Percentage'].describe()

count    440.000000
mean      48.545889
std       21.220585
min       -3.906564
25%       37.441275
50%       48.236894
75%       65.006501
max       91.004550
Name: Discount Percentage, dtype: float64

In [130]:
# Checing the Outlier for hours column
q3=df['Discount Percentage'].quantile(0.75)
q1=df['Discount Percentage'].quantile(0.25)
iqr=q3-q1
upper_threshold=q3+(1.5*iqr)
lower_threshold=q1-(1.5*iqr)
upper_threshold,lower_threshold

(106.35433954875002, -3.906564181250012)

In [132]:
df['Discount Percentage'] = df['Discount Percentage'].clip(lower_threshold, upper_threshold)

# Column 5 Rating

In [135]:
df.columns

Index(['index', 'Brand', 'Current Price', 'Original Price',
       'Discount Percentage', 'Rating', 'Number OF Ratings', 'Model Name',
       'Dial Shape', 'Strap Color', 'Strap Material', 'Touchscreen',
       'Battery Life (Days)', 'Bluetooth', 'Display Size', 'Weight'],
      dtype='object')

In [136]:
df['Rating'].dtypes

dtype('float64')

In [141]:
df['Rating'].isna().sum()

0

In [140]:
df.dropna(subset=['Rating'],inplace=True)

In [145]:
df['Rating'].describe()

count    435.000000
mean       4.089425
std        0.390472
min        3.300000
25%        3.900000
50%        4.100000
75%        4.300000
max        4.900000
Name: Rating, dtype: float64

In [143]:
# Checing the Outlier for hours column
q3=df['Rating'].quantile(0.75)
q1=df['Rating'].quantile(0.25)
iqr=q3-q1
upper_threshold=q3+(1.5*iqr)
lower_threshold=q1-(1.5*iqr)
upper_threshold,lower_threshold

(4.8999999999999995, 3.3)

In [144]:
df['Rating']=df['Rating'].clip(lower_threshold,upper_threshold)

# Columns 6 Number of Ratings

In [146]:
df.columns

Index(['index', 'Brand', 'Current Price', 'Original Price',
       'Discount Percentage', 'Rating', 'Number OF Ratings', 'Model Name',
       'Dial Shape', 'Strap Color', 'Strap Material', 'Touchscreen',
       'Battery Life (Days)', 'Bluetooth', 'Display Size', 'Weight'],
      dtype='object')

In [148]:
df['Number OF Ratings'].dtypes

dtype('float64')

In [157]:
df['Number OF Ratings'].isna().sum()

0

In [156]:
df['Number OF Ratings'].fillna(df['Number OF Ratings'].mean(),inplace=True)

In [162]:
df['Number OF Ratings'].describe()

count      435.000000
mean      6864.446115
std       9417.078163
min          1.000000
25%        101.000000
50%       1779.000000
75%      11718.430809
max      29144.577023
Name: Number OF Ratings, dtype: float64

In [160]:
# Checing the Outlier for hours column
q3=df['Number OF Ratings'].quantile(0.75)
q1=df['Number OF Ratings'].quantile(0.25)
iqr=q3-q1
upper_threshold=q3+(1.5*iqr)
lower_threshold=q1-(1.5*iqr)
upper_threshold,lower_threshold

(29144.5770234987, -17325.14621409922)

In [161]:
df['Number OF Ratings']=df['Number OF Ratings'].clip(lower_threshold,upper_threshold)

# column 7 Model Name

In [163]:
df.columns

Index(['index', 'Brand', 'Current Price', 'Original Price',
       'Discount Percentage', 'Rating', 'Number OF Ratings', 'Model Name',
       'Dial Shape', 'Strap Color', 'Strap Material', 'Touchscreen',
       'Battery Life (Days)', 'Bluetooth', 'Display Size', 'Weight'],
      dtype='object')

In [168]:
df['Model Name'].dtypes

dtype('O')

In [182]:
df['Model Name'].isna().sum()

0

In [180]:
mode_value=df['Model Name'].mode()[0]

In [181]:
df['Model Name'].fillna(mode_value,inplace=True)

In [183]:
df['Model Name'].describe()

count      435
unique     382
top       ring
freq        35
Name: Model Name, dtype: object

# Column 8 Dial Shape

In [184]:
df['Dial Shape'].dtypes

dtype('O')

In [187]:
df['Dial Shape'].value_counts()

Dial Shape
Circle          131
Square           98
Rectangle        86
Curved            6
Contemporary      1
Oval              1
Name: count, dtype: int64

In [190]:
df['Dial Shape'].isna().sum()

0

In [189]:
mode_value=df['Dial Shape'].mode()[0]
df['Dial Shape'].fillna(mode_value,inplace=True)

# Column 9 Strap Color

In [191]:
df['Strap Color'].dtypes

dtype('O')

In [196]:
df['Strap Color'].isna().sum()

0

In [193]:
df['Strap Color'].value_counts()

Strap Color
Black              130
Blue                40
Grey                34
Pink                14
Silver              14
Green               13
Red                 11
White               10
Brown               10
Gold                 8
Beige                4
Graphite             3
Orange               3
Starlight Sport      3
Rose Gold            3
Purple               3
Charcoal             2
Multicolor           2
Orange Alpine        2
Burgundy             2
Maroon               2
Midnight             2
Morning Glow         1
Passion Pink         1
Beet Juice           1
White Platinum       1
Misty Rose           1
Pink, Gold           1
Deep Wine            1
Sea Green            1
Name: count, dtype: int64

In [195]:
mode_value=df['Strap Color'].mode()[0]
df['Strap Color'].fillna(mode_value,inplace=True)

In [197]:
df['Strap Color'].describe()

count       435
unique       30
top       Black
freq        242
Name: Strap Color, dtype: object

# Column 11 Strap Material

In [198]:
df.columns

Index(['index', 'Brand', 'Current Price', 'Original Price',
       'Discount Percentage', 'Rating', 'Number OF Ratings', 'Model Name',
       'Dial Shape', 'Strap Color', 'Strap Material', 'Touchscreen',
       'Battery Life (Days)', 'Bluetooth', 'Display Size', 'Weight'],
      dtype='object')

In [199]:
df['Strap Material'].dtypes

dtype('O')

In [204]:
df['Strap Material'].isna().sum()

0

In [203]:
mode_value=df['Strap Material'].mode()[0]
df['Strap Material'].fillna(mode_value,inplace=True)

In [205]:
df['Strap Material'].describe()

count         435
unique         15
top       Silicon
freq          303
Name: Strap Material, dtype: object

# Column 12 Touchscreen

In [206]:
df['Touchscreen'].dtypes

dtype('O')

In [209]:
df['Touchscreen'].isna().sum()

0

In [208]:
mode_value=df['Touchscreen'].mode()[0]
df['Touchscreen'].fillna(mode_value,inplace=True)

In [210]:
df['Touchscreen'].describe()

count     435
unique      2
top       Yes
freq      411
Name: Touchscreen, dtype: object

# Column 13 Battery Life (Days)

In [211]:
df['Battery Life (Days)'].dtypes

dtype('float64')

In [214]:
df['Battery Life (Days)'].isna().sum()

0

In [213]:
df['Battery Life (Days)'].fillna(df['Battery Life (Days)'].median(),inplace=True)

C:\Users\IT PARK\AppData\Local\Temp\ipykernel_10536\776623979.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Battery Life (Days)'].fillna(df['Battery Life (Days)'].mean(),inplace=True)

In [219]:
df['Battery Life (Days)'].describe()

count    435.000000
mean      14.080467
std        7.466377
min        0.750000
25%        8.000000
50%       14.080467
75%       22.000000
max       22.000000
Name: Battery Life (Days), dtype: float64

In [216]:
# Checing the Outlier for hours column
q3=df['Battery Life (Days)'].quantile(0.75)
q1=df['Battery Life (Days)'].quantile(0.25)
iqr=q3-q1
upper_threshold=q3+(1.5*iqr)
lower_threshold=q1-(1.5*iqr)
upper_threshold,lower_threshold

(43.0, -13.0)

In [217]:
df['Battery Life (Days)']=df['Battery Life (Days)'].clip(lower_threshold,upper_threshold)

# column 14 Bluetooth

In [220]:
df.columns

Index(['index', 'Brand', 'Current Price', 'Original Price',
       'Discount Percentage', 'Rating', 'Number OF Ratings', 'Model Name',
       'Dial Shape', 'Strap Color', 'Strap Material', 'Touchscreen',
       'Battery Life (Days)', 'Bluetooth', 'Display Size', 'Weight'],
      dtype='object')

In [221]:
df['Bluetooth'].dtypes

dtype('O')

In [226]:
df['Bluetooth'].isna().sum()

0

In [223]:
df['Bluetooth'].value_counts

<bound method IndexOpsMixin.value_counts of 0      Yes
1      Yes
2      Yes
3      Yes
4      Yes
      ...
442    Yes
443    Yes
444    Yes
445    Yes
447    Yes
Name: Bluetooth, Length: 435, dtype: object>

In [225]:
df['Bluetooth'].fillna(df['Bluetooth'].mode()[0],inplace=True)

In [227]:
df['Bluetooth'].describe()

count     435
unique      2
top       Yes
freq      431
Name: Bluetooth, dtype: object

# column 15 Display Size

In [228]:
df['Display Size'].dtypes

dtype('O')

In [231]:
df['Display Size'].isna().sum()

0

In [230]:
df['Display Size'].fillna(df['Display Size'].mode()[0],inplace=True)

In [233]:
df['Display Size'].describe()

count            435
unique            38
top       1.7 inches
freq              94
Name: Display Size, dtype: object

# column 16 Weight

In [235]:
df['Weight'].dtypes

dtype('O')

In [238]:
df['Weight'].value_counts()

Weight
20 - 35 g    79
75g +        61
35 - 50 g    55
<= 20 g      43
50 - 75 g    16
Name: count, dtype: int64

In [241]:
df['Weight'].isna().sum()

0

In [240]:
df['Weight'].fillna(df['Weight'].mode()[0],inplace=True)

In [242]:
df['Weight'].describe()

count           435
unique            5
top       20 - 35 g
freq            260
Name: Weight, dtype: object