# **Python Programming**

In [1]:
type(1.1)

float

In [2]:
int(3.99)

3

In [3]:
"helloMike".find("Mike")

5

In [4]:
int(True)

1

In [5]:
4%2

0

In [6]:
4**2

16

In [7]:
x=1
y=2
x+7

8

In [12]:
print('I want \'apple')

I want 'apple

In [13]:
print("First: {x} second: {y}".format(x=9,y=0))

First: 9 second: 0

In [14]:
[9,8,0]

[9, 8, 0]

In [15]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [18]:
d={'name':'Neel',"age":23}
d.get('na')

In [19]:
d['n']

KeyError: 'n'

In [20]:
t=(7,5,4,2)
t[0]

7

In [21]:
t[-1]

2

In [22]:
1>2

False

In [23]:
2<=3

True

In [1]:
x=[1,2,3,4,5]
[num**2 for num in x]

[1, 4, 9, 16, 25]

In [7]:
def my_func():
    '''This is general function'''
    return 'Hello'
res=my_func()

In [8]:
res

'Hello'

In [9]:
7**4

2401

In [11]:
s='Hi there sam'
s.split(" ")

['Hi', 'there', 'sam']

In [ ]:
import numpy